body{
    display: grid;
    margin: 0;
    background-color: #0d1117;
    font-family: 'PT Sans', sans-serif; 
}

.main{
    display: flex;
    justify-self: center;
}


.title1{
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    margin-top: 200px;
    margin-right: 400px;
    font-size: 120%;
}

.customize{
    color: #4F73A5;
    margin-top: 205px;
    margin-left: 400px;
    font-size: 80%;
    align-self:flex-start;
}

#part1{
    display: flex;
    width: 1050px;
    justify-self: center
}

.Border{
    width: 1030px;
    color: #9198a1;
    border-color: #3d444d;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin: 15px;
    margin-top: -5px;
    padding: 25px;
}

.PinnedList{
    display: flex;
}

.PinnedListTitle{
    color: #588CD7;
    font-family: 'PT Sans', sans-serif;
    font-size: large;
    font-weight: 600;
    margin-right: 15px

}

.Public{
    border: 1px solid #3d444d;
    border-radius: 15px;
    margin-top: -2px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
}

.PinnedListMiddle{
    font-size: 14px;
}

.PinnedListUnder{
    height: 16px;
    margin-bottom: -5px;
}

.PinnedListUnderColor{
    background-color: #3572A5;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: var(--borderWidth-thin) solid var(--borderColor-translucent);
    border-radius: 50%;
}

.Marge{
    margin-right: 16px;
}

.PinnedListUnderStar{
    height: 17px;
    display: inline-block;
    overflow: visible;
    vertical-align: text-bottom;
    fill: currentColor;
    
}